@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;600&family=Poppins:wght@300;400&display=swap');


.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 550px;
    padding: 30px;
    background: url("/assets/bg-banner.jpg") center/cover no-repeat;
    position: relative;
    color: white;
    text-align: center;
}
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

/* Ensuring content is above the overlay */
.hero-section > * {
    position: relative;
    z-index: 2;
}
.hero-content {
    
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 60%;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    font-weight: 800; /* Thin stroke */
    letter-spacing: 1px;
    color: purpl;
    margin: 0;
}

.hero-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    opacity: 0.9;
}

/* CTA Section */
.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

/* Straight Line */
.line {
    width: 3px;
    height: 100px;
    background: #F8F9FA;
    margin-bottom: 10px;
}


.cta-button {
    background-color: darkcyan;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, transfrom 0.2s;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    outline: none;
}

.cta-button:hover {
    background-color: black;
    color: white;
    transform: scale(1.15);
}


